.forgotPassword {
  max-width: 400px;
  margin: 0 auto;
}

.formButton {
  margin-top: 10px;
}

.successMessage {
  color: green;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}
